#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.custom-toggler {
    border-color: rgb(17, 61, 113);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("../img/icon.png");
}



.bg{
    background-image: url("../img/TEST.jpg");

    /* Full height */
    height: 100%;
    opacity: 0.5;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splashscreen{
    position: fixed;
    top: 30%;
    left: 30%;

}

#mainload{
    width: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}