#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.bg{
    background-image: url("../img/TEST.jpg");

    /* Full height */
    height: 100%;
    opacity: 0.5;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#splashscreen{
    position: fixed;
    top: 30%;
    left: 30%;

}

#mainload{
    width: 100%;
}