<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">DataViz</a>
      </div>
    </div>
  </div>

  <div id = upload-bar>

  </div>

  <div class="container-fluid">

    <div class="row" id="charts">
    </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>
    <div id="content">

    </div>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <!-- <script src='./static/js/test.js' type='text/javascript'></script>-->


  <!--scripts for react-->
  <script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.1/react-bootstrap.js"></script>
  <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/remarkable@1.7.1/dist/remarkable.min.js"></script>

  <script type="text/babel" src="./static/js/Upload.js"></script>
  <script type="text/babel" src="./static/js/PieChart.js"></script>
  <script type="text/babel" src="./static/js/BarChart.js"></script>
  <script type="text/babel" src="./static/js/example.js"></script>
</body>
</html>
