<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">

    </head>
<body >

  <div class="navbar navbar-light navbar-fixed-top" style="background-color: #113d71;" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">DataViz</a>
      </div>
    </div>
  </div>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <div class="input-group">
          <input type="text" class="form-control" id="url-val" placeholder="Search for..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="url-go">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
    <nav class="navbar bg-light" style="background-color: #2c6e8c;">
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        Add DataSource
      </button>
    </nav>
  </div>

  <div class="container-fluid" id="canvas">

    <div class="row" id="dashboard">

      <!--<div class="col-sm-6">-->
        <!--<div class="row">-->

          <!--&lt;!&ndash; Time Chart &ndash;&gt; -->
          <!--<div class="col-sm-12">-->
            <!--<div class="chart-wrapper">-->
              <!--<div class="chart-title">-->
                <!--Number of Donations-->
              <!--</div>-->
              <!--<div class="chart-stage">-->
                <!--<div id="time-chart"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Time Chart &ndash;&gt; -->

          <!--&lt;!&ndash; Resources Pie &ndash;&gt;-->
          <!--<div class="col-sm-6">-->
            <!--<div class="chart-wrapper">-->
              <!--<div class="chart-title">-->
                <!--Resources Type-->
              <!--</div>-->
              <!--<div class="chart-stage">-->
                <!--<div id="resource-type-row-chart"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Resources Pie &ndash;&gt;-->

          <!--&lt;!&ndash; Poverty Pie &ndash;&gt;-->
          <!--<div class="col-sm-6">-->
            <!--<div class="chart-wrapper">-->
              <!--<div class="chart-title">-->
                <!--Poverty Level-->
              <!--</div>-->
              <!--<div class="chart-stage">-->
                <!--<div id="poverty-level-row-chart"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Poverty Pie &ndash;&gt;-->

        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash; Map &ndash;&gt;  -->
      <!--<div class="col-sm-6">-->
        <!--<div class="chart-wrapper">-->
          <!--<div class="chart-title">-->
            <!--Distribution of Donations-->
          <!--</div>-->
          <!--<div class="chart-stage">-->
            <!--<div id="us-chart"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Map &ndash;&gt;-->

      <!--&lt;!&ndash; Metric 1 &ndash;&gt;-->
      <!--<div class="col-sm-3">-->
        <!--<div class="chart-wrapper">-->
          <!--<div class="chart-title">-->
            <!--Total Number of Donations-->
          <!--</div>-->
          <!--<div class="chart-stage">-->
            <!--<div id="number-projects-nd"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Metric 1 &ndash;&gt;-->

      <!--&lt;!&ndash; Metric 2 &ndash;&gt;-->
      <!--<div class="col-sm-3">-->
        <!--<div class="chart-wrapper">-->
          <!--<div class="chart-title">-->
            <!--Total Donations in USD-->
          <!--</div>-->
          <!--<div class="chart-stage">-->
            <!--<div id="total-donations-nd"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Metric 2 &ndash;&gt;-->



  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="#">DataViz Team</a></p>

  </div>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>

  <script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script type="text/jsx" src="./static/js/GeoChart.js"></script>
  <script type="text/jsx" src="./static/js/PieChart.js"></script>
  <script type="text/jsx" src="./static/js/BarChart.js"></script>
  <script type="text/jsx" src="./static/js/TimeChart.js"></script>
  <script type="text/jsx" src="./static/js/Table.js"></script>
  <script src="./static/js/Dashboard.js" type="text/jsx"></script>
  <script src="./static/js/main.js"></script>

</body>
</html>
